 - Taller 2
 - Estudiante: Valeria Esperanza Bravo Saines

CASO 8 – LA FUGA DORADA: Cómo salvar a los clientes valiosos antes de que cierren a su cuenta
El banco BankUnity quiere predecir qué clientes van a cerrar su cuenta para poder retenerlos antes de que se vayan.

Objetivo:
Construir un modelo predictivo explicable para predecir cerrara_cuenta, evaluar métricas, 
simular escenarios, y responder preguntas estratégicas para negocio.

In [ ]:
#IMPORTAMOS LAS LIBRERIAS
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings; warnings.filterwarnings('ignore')

from pycaret.classification import *
from sklearn.metrics import roc_curve

In [4]:
#CARGAMOS EL DATASET
df = pd.read_csv('taller2_MLE.csv')

In [5]:
df.head()

,edad,segmento,saldo_total,numero_productos,visitas_app_mes,usa_web,usa_tarjeta_credito,reclamos_6m,satisfaccion_encuesta,tasa_credito_personal,rango_ingresos,region,cerrara_cuenta
0,48,Preferente,43791.80,5,11,0,1,1,4.2,36.82,Medio,Sierra,0
1,36,Estándar,17940.87,1,7,0,1,0,2.2,39.78,Muy Alto,Selva,0
2,48,Estándar,9308.09,4,3,0,1,1,1.0,28.36,Medio,Sierra,1
3,30,Estándar,709.76,5,5,1,1,0,5.0,45.73,Bajo,Selva,0
4,74,Preferente,20471.46,1,4,0,0,1,3.1,39.19,Medio,Sierra,0